---
import Layout from '@layouts/Layout.astro'
import { API_URLS } from '@utils/apiUrls'
const { id } = Astro.params
const response = await fetch(`${import.meta.env.PUBLIC_POKEAPI}/pokemon/${id}`)
const pokemon = await response.json()
function capitalizeString(str: string) {
  return str.charAt(0).toUpperCase() + str.slice(1)
}
---

<Layout title={`Pokemon ${capitalizeString(pokemon.name)}`}>
  <div class='p-4 mx-auto max-w-7xl'>
    <section
      class={`pokemon-card ${pokemon.types[0].type.name} relative shadow-xl`}
      transition:name=`pokemon ${pokemon.id} box`
    >
      <h1 class='text-4xl font-bold mb-4'>{capitalizeString(pokemon.name)}</h1>
      <div class='flex-1'>
        <img
          class='w-96 h-96 object-contain z-1'
          src={`${API_URLS.SPRITES}/${pokemon.id}.svg`}
          alt={pokemon.name}
          transition:name=`pokemon ${pokemon.id} image`
        />
      </div>
      <div class='flex-1'>
        <h2 class='text-2xl font-bold mb-4'>Abilities</h2>
        <ul class='list-disc list-inside'>
          {pokemon.abilities.map((ability: any) => <li>{capitalizeString(ability.ability.name)}</li>)}
        </ul>
      </div>
      <div class='bg-pokeball text-[8px]'></div>
      <p class='pokemon-number absolute top-4 right-4 text-7xl!'>#{pokemon.id}</p>
    </section>
  </div>
</Layout>
