---
import { API_URLS } from '@utils/apiUrls'

const { url } = Astro.props
const response = await fetch(url)
const pokemon = await response.json()
---

<a
  href={`pokemons/${pokemon.id}`}
  class={`pokemon-card ${pokemon.types[0].type.name} relative`}
  transition:name=`pokemon ${pokemon.id} box`
>
  <div class='flex flex-col gap-2 h-full'>
    <h3 class='text-2xl capitalize font-bold'>{pokemon.name}</h3>
    <div class='flex flex-col gap-2'>
      {
        pokemon.types.map((type: any, index: number) => (
          <span
            class={`rounded-full px-2 py-1 text-sm font-semibold w-20 text-center ${
              index > 0 ? `${type.type.name} bg-opacity-80` : 'bg-zinc-100/40 '
            }  `}
          >
            {type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1)}
          </span>
        ))
      }
    </div>
  </div>
  <div class='flex flex-col items-center'>
    <img
      class='w-36 h-36 object-contain z-1'
      src={`${API_URLS.SPRITES}${pokemon.id}.svg`}
      alt={pokemon.name}
      transition:name=`pokemon ${pokemon.id} image`
    />
  </div>
  <div class='bg-pokeball text-[8px]'></div>
  <p class='absolute top-[5%] right-[5%] text-3xl text-zinc-50/60'># {pokemon.id}</p>
</a>
